*{box-sizing:border-box;}
.complete{
    color: #ff69b4; 
    border: 2px solid #ff69b4;
    background-color: white; 
}

.delete{
    border: none; 
    background: none;
    display: inline-flex;
    float: right;  
}

#filter{
    width: 100%;
    margin-bottom: 10px;  
}

#add{
    display:block; 
    width: 100%;
    margin-top: 10px; 
}

#add-button{
    background-color: #ff1493; 
    border: 2px solid #ff1493; 
    color: white; 
    display: block; 
    width:100%; 
    border-radius: 3px; 
}

.strikethrough{
    text-decoration-line: line-through;
}


